
.contenedor_principal {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #FF5151;
    height: 100px;
    box-sizing: border-box; /* Para que el padding-right no empuje el logo fuera del header */
    padding-left: 0px;
    padding-right: 50px;
}

.contenedor_fichas {
    width: 400px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "ficha1 ficha2"
        "ficha3 ficha4";
}

.ficha {
  background-color: #ddd;
  padding: 20px 0px;
  text-align: center;
  border-radius: 8px;
  max-height: 200px;
}

#ficha-lin {
    background-color: #FFD4D4;
}

#ficha-milca {
    background-color: #FA9673;
}

#ficha-dubin {
    background-color: #8ECCFF;
}

#ficha-efren {
    background-color: #F2FFB6;
}

.foto {
    width: 100px;
    height: 125px;
    border-radius: 10px;
}

.foto:hover {
    outline: 3px solid aquamarine;
}

#logo {
    width: 100px;
    height: auto;
}

button {
  background-color: #AEB0B0;    
  color: black;                 
  font-size: 1.2rem;            /* tamaño grande de texto */
  padding: 15px 30px;           /* botón grande */
  border: none;                 /* sin borde por defecto */
  border-radius: 12px;          /* esquinas redondeadas */
  cursor: pointer;             /* mano al pasar el ratón */
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* sombra sutil */
}

button:hover {
  background-color: #dadada;  /* un poco más oscuro al pasar el ratón */
  transform: scale(1.05);     /* animación ligera al hacer hover */
}